[user]
  name = Mohamed El Tawargy
  email = tawargy.dev@gmail.com
[init]
	defaultBranch = main  
[core]
  editor = nvim
	excludesfile = /home/tawargy/.gitignore_global
[alias]
	hist = log --oneline --graph --decorate --all

[diff]
    tool = vimdiff
		
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false

[credential]
  helper = store  
